crash
crate[sqlalchemy]
langchain[cratedb,openai] @ git+https://github.com/crate-workbench/langchain.git@cratedb#subdirectory=libs/langchain
pueblo[env] @ git+https://github.com/pyveci/pueblo.git@develop
python-dotenv<2
requests-cache<2
unstructured<0.11
