# Real.
crate[sqlalchemy]
# mlflow-cratedb==2.7.1
plotly<5.19
pycaret[analysis,models,tuner,parallel,test]==3.1.0
python-dotenv<2
tqdm<5
werkzeug==3.0.1

# Development.
mlflow-cratedb @ git+https://github.com/crate-workbench/mlflow-cratedb.git@testing
