crash
cratedb-about==0.0.10
google-cloud-aiplatform<2
langchain-cratedb<0.2.1
langchain-mcp-adapters<0.2
langchain-google-vertexai<4
langchain-openai<1.2
langchain-text-splitters<1.2
langgraph<1.1
pueblo[cli,nlp]>=0.0.10
pypdf<7
python-dotenv<2
requests<3
requests-cache<2
unstructured<0.19
