# Real.
crash
crate[sqlalchemy]==0.35.2
cratedb-toolkit==0.0.10

# langchain[cratedb,openai]==0.0.354
# langchain-community==0.0.8
langchain-openai==0.0.6
pueblo[cli,nlp]>=0.0.7
pydantic>=1,<3
pypdf<5
python-dotenv<2
requests<3
requests-cache<2
sqlalchemy==2.*
unstructured<0.12
google-cloud-aiplatform
langchain-google-vertexai

# Development.
# cratedb-toolkit @ git+https://github.com/crate-workbench/cratedb-toolkit.git@main
langchain[cratedb,openai] @ git+https://github.com/crate-workbench/langchain.git@cratedb#subdirectory=libs/langchain
langchain-community @ git+https://github.com/crate-workbench/langchain.git@cratedb#subdirectory=libs/community
# pueblo[cli,fileio,nlp] @ git+https://github.com/pyveci/pueblo.git@main
