# Production.
cratedb-toolkit[io]>=0.0.33
pueblo[notebook,testing]

# Staging.
# cratedb-toolkit[io] @ git+https://github.com/crate-workbench/cratedb-toolkit.git@main
# pueblo[notebook,testing] @ git+https://github.com/pyveci/pueblo.git@main

# Development.
#--editable=/Users/amo/dev/crate/ecosystem/cratedb-retentions[io]
#--editable=/Users/amo/dev/pyveci/sources/pueblo[testing]
