# Real.
crash
crate[sqlalchemy]
cratedb-toolkit

# langchain[cratedb,openai]
# pueblo[env,nlp]==0.0.3
pydantic>=1,<3
pypdf<4
python-dotenv<2
requests-cache<2
unstructured<0.11

# Development.
cratedb-toolkit @ git+https://github.com/crate-workbench/cratedb-toolkit.git@main
langchain[cratedb,openai] @ git+https://github.com/crate-workbench/langchain.git@testing#subdirectory=libs/langchain
pueblo[nlp] @ git+https://github.com/pyveci/pueblo.git@main
