cratedb-toolkit[datasets]>=0.0.33
refinitiv-data<1.7
pandas==2.2.*
#pycaret==3.3.2
pycaret @ git+https://github.com/sktime/pycaret@python313
pydantic<3
sqlalchemy==2.0.*
sqlalchemy-cratedb>=0.41.0.dev2
