OPENAI_API_KEY=TODO
OPENAI_API_TYPE=azure
OPENAI_AZURE_ENDPOINT=https://TODO.openai.azure.com
OPENAI_AZURE_API_VERSION=2024-08-01-preview
LLM_INSTANCE=TODO
EMBEDDING_MODEL_INSTANCE=TODO
CRATEDB_URL="crate://USER:PASSWORD@HOST:4200/?ssl=true"
CRATEDB_TABLE_NAME=time_series_data