cratedb-about==0.0.6
langchain-openai<0.4
llama-index-embeddings-langchain<0.4
llama-index-embeddings-openai<0.4
llama-index-llms-azure-openai<0.4
llama-index-llms-openai<0.5
llama-index-tools-mcp<0.3
python-dotenv
sqlalchemy-cratedb
