# Real.
cratedb-toolkit[io]
pueblo[notebook,testing]>=0.0.7

# Development.
# cratedb-toolkit[io] @ git+https://github.com/crate-workbench/cratedb-toolkit.git@7f3a493
# pueblo[notebook,testing] @ git+https://github.com/pyveci/pueblo.git@main

# Workstation.
# --editable=/Users/amo/dev/crate/ecosystem/cratedb-retentions[io]
# --editable=/Users/amo/dev/pyveci/sources/pueblo[testing]
