# Real.
crate[sqlalchemy]
# mlflow-cratedb==2.8.1
plotly<5.20
pycaret[analysis,models,tuner,parallel,test]==3.2.0
pydantic<2
python-dotenv<2
tqdm<5
werkzeug==2.2.3

# Development.
mlflow-cratedb @ git+https://github.com/crate-workbench/mlflow-cratedb.git@main
