# Real.
crate[sqlalchemy]
mlflow-cratedb==2.11.3
plotly<5.21
pycaret[models,parallel,test]==3.3.1
pydantic<2
python-dotenv<2

# Development.
# mlflow-cratedb @ git+https://github.com/crate-workbench/mlflow-cratedb.git@main
