# CrateDB single-node configuration with SSL (self-signed certificates).

name: cratedb-with-ssl

services:

  cratedb:
    image: crate/crate:nightly
    command: ["crate", "-Cstats.enabled=true"]
    ports:
      - 4200:4200
      - 5432:5432
    volumes:
      - ./crate.yml:/crate/config/crate.yml
      - ./keystore:/crate/config/keystore
      - ./truststore:/crate/config/truststore
    healthcheck:
      test: ["CMD", "curl", "--fail", "--insecure", "https://localhost:4200"]
      start_period: 3s
      interval: 1.5s
      retries: 30
      timeout: 30s
