# Real.
# cratedb-toolkit[io]
# pueblo[testing]

# Development.
cratedb-toolkit[io] @ git+https://github.com/crate-workbench/cratedb-toolkit.git@amo/add-import-csv
pueblo[testing] @ git+https://github.com/pyveci/pueblo.git@main

# Workstation.
#--editable=/Users/amo/dev/crate/ecosystem/cratedb-retentions[io]
#--editable=/Users/amo/dev/pyveci/sources/pueblo[testing]
