apache-superset
# Apache Superset = 6.1.0 is incompatible with flask-caching 2.5.0.
# Tracked on upstream issue: https://github.com/apache/superset/issues/43860
flask-caching<2.5
flask-jwt-extended>=4.7.4
sqlalchemy-cratedb>=0.43.1
rich
cachetools
