name: Metabase

on:
  pull_request:
    branches: ~
    paths:
    - '.github/workflows/application-metabase.yml'
    - 'application/metabase/**'
    - '/requirements.txt'
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/application-metabase.yml'
    - 'application/metabase/**'
    - '/requirements.txt'

  # Allow job to be triggered manually.
  workflow_dispatch:

  # Run job each night after CrateDB nightly has been published.
  schedule:
    - cron: '0 3 * * *'

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:

  test:
    name: "
     CrateDB: ${{ matrix.cratedb-version }}
     on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-22.04" ]
        python-version: [ "3.12" ]
        cratedb-version: [ "nightly" ]

    steps:

      - name: Acquire sources
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: "pip"
          cache-dependency-path: |
            requirements.txt
            application/metabase/pyproject.toml
            application/metabase/requirements.txt
            application/metabase/requirements-test.txt

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Install utilities
        run: |
          uv pip install --system -r requirements.txt

      - name: Validate application/metabase
        run: |
          ngr test --accept-no-venv application/metabase
