name: Polars

on:
  pull_request:
    paths:
    - '.github/workflows/dataframe-polars.yml'
    - 'by-dataframe/polars/**'
    - '/requirements.txt'
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/dataframe-polars.yml'
    - 'by-dataframe/polars/**'
    - '/requirements.txt'

  # Allow job to be triggered manually.
  workflow_dispatch:

  # Run job each night after CrateDB nightly has been published.
  schedule:
    - cron: '0 3 * * *'

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    name: "
     Python: ${{ matrix.python-version }}
     CrateDB: ${{ matrix.cratedb-version }}
     on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest' ]
        python-version: [
          '3.10',
          '3.13',
        ]
        cratedb-version: [ 'nightly' ]

    services:
      cratedb:
        image: crate/crate:${{ matrix.cratedb-version }}
        ports:
          - 4200:4200
          - 5432:5432
        env:
          CRATE_HEAP_SIZE: 4g

    steps:

      - name: Acquire sources
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: 'pip'
          cache-dependency-path: |
            by-dataframe/polars/requirements.txt
            by-dataframe/polars/requirements-dev.txt

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Validate by-dataframe/polars
        run: |
          uv run --with=pueblo ngr test --accept-no-venv by-dataframe/polars
