name: C# Npgsql

on:
  pull_request:
    paths:
    - '.github/workflows/lang-csharp-npgsql.yml'
    - 'by-language/csharp-npgsql/**'
    - '/requirements.txt'
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/lang-csharp-npgsql.yml'
    - 'by-language/csharp-npgsql/**'
    - '/requirements.txt'

  # Allow job to be triggered manually.
  workflow_dispatch:

  # Run job each night after CrateDB nightly has been published.
  schedule:
    - cron: '0 3 * * *'

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

defaults:
  run:
    shell: bash

jobs:
  test:
    name: "
     .NET: ${{ matrix.dotnet-version }}
     Npgsql: ${{ matrix.npgsql-version }}
     CrateDB: ${{ matrix.cratedb-version }}
     on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-22.04' ]
        dotnet-version: [ '9.0.x' ]
        npgsql-version: [ '8.0.7', '9.0.3' ]
        cratedb-version: [ 'nightly' ]

    # https://docs.github.com/en/free-pro-team@latest/actions/guides/about-service-containers
    services:
      cratedb:
        image: crate/crate:${{ matrix.cratedb-version }}
        ports:
          - 4200:4200
          - 5432:5432
        env:
          CRATE_HEAP_SIZE: 4g

    steps:

      - name: Acquire sources
        uses: actions/checkout@v5

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Set up .NET ${{ matrix.dotnet-version }}
        id: dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      # Note: Unless a concrete version is specified in the `global.json` file,
      # the latest .NET version installed on the runner (including preinstalled
      # versions) will be used by default. To control this behavior, you may want
      # to use temporary `global.json` files.
      # https://github.com/actions/setup-dotnet/blob/main/README.md#matrix-testing
      - name: Create `global.json`
        run: |
          echo '{"sdk":{"version": "${{ steps.dotnet.outputs.dotnet-version }}"}}' > ./global.json

      - name: Validate by-language/csharp-npgsql, Npgsql ${{ matrix.npgsql-version }}
        run: |
          uv run --with=pueblo ngr test by-language/csharp-npgsql --dotnet-version=${{ matrix.dotnet-version }} --npgsql-version=${{ matrix.npgsql-version }}
