name: LlamaIndex

on:
  pull_request:
    branches: ~
    paths:
    - '.github/workflows/ml-llamaindex.yml'
    - 'topic/machine-learning/llama-index/**'
    - '/requirements.txt'
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/ml-llamaindex.yml'
    - 'topic/machine-learning/llama-index/**'
    - '/requirements.txt'

  # Allow job to be triggered manually.
  workflow_dispatch:

  # Run job each night after CrateDB nightly has been published.
  schedule:
    - cron: '0 3 * * *'

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    name: "
     Python: ${{ matrix.python-version }}
     CrateDB: ${{ matrix.cratedb-version }}
     on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          'ubuntu-latest',
        ]
        python-version: [
          '3.10',
          '3.13',
        ]
        cratedb-version: [
          'nightly',
        ]
        cratedb-mcp-version: [
          'main',
        ]

    services:
      cratedb:
        image: crate/crate:${{ matrix.cratedb-version }}
        ports:
          - 4200:4200
          - 5432:5432
        env:
          CRATE_HEAP_SIZE: 4g
      cratedb-mcp:
        image: ghcr.io/crate/cratedb-mcp:${{ matrix.cratedb-mcp-version }}
        ports:
          - 8000:8000
        env:
          CRATEDB_MCP_TRANSPORT: streamable-http
          CRATEDB_MCP_HOST: 0.0.0.0
          CRATEDB_MCP_PORT: 8000
          CRATEDB_CLUSTER_URL: http://crate:crate@cratedb:4200/

    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

    steps:

      - name: Acquire sources
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: 'pip'
          cache-dependency-path: |
            requirements.txt
            topic/machine-learning/llama-index/requirements.txt
            topic/machine-learning/llama-index/requirements-dev.txt

      - name: Install utilities
        run: |
          pip install -r requirements.txt

      - name: Validate topic/machine-learning/llama-index
        run: |
          ngr test --accept-no-venv topic/machine-learning/llama-index
