name: pandas

on:
  pull_request:
    branches: ~
    paths:
    - '.github/workflows/notebook-jupyter.yml'
    - 'notebook/jupyter/**'
    - '/requirements.txt'
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/notebook-jupyter.yml'
    - 'notebook/jupyter/**'
    - '/requirements.txt'

  # Allow job to be triggered manually.
  workflow_dispatch:

  # Run job each night after CrateDB nightly has been published.
  schedule:
    - cron: '0 3 * * *'

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    name: "
     Python: ${{ matrix.python-version }}
     CrateDB: ${{ matrix.cratedb-version }}
     on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest' ]
        python-version: [ '3.8', '3.13' ]
        cratedb-version: [ 'nightly' ]

    env:
      OS_TYPE: ${{ matrix.os }}
      PYTHON_VERSION: ${{ matrix.python-version }}
      UV_SYSTEM_PYTHON: true

    services:
      cratedb:
        image: crate/crate:${{ matrix.cratedb-version }}
        ports:
          - 4200:4200
          - 5432:5432
        env:
          CRATE_HEAP_SIZE: 4g

    steps:

      - name: Acquire sources
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: 'pip'
          cache-dependency-path: |
            notebook/jupyter/pyproject.toml

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          cache-dependency-glob: |
            notebook/jupyter/pyproject.toml
          cache-suffix: ${{ matrix.python-version }}
          enable-cache: true
          version: "latest"

      - name: Install project
        run: |
          uv pip install notebook/jupyter[all]

      - name: Validate notebook/jupyter
        run: |
          cd notebook/jupyter
          pytest

      - name: Build docs for notebook/jupyter
        run: |
          cd notebook/jupyter
          poe check
          poe docs-html
          poe docs-linkcheck
