name: Native Testing with Python

on:
  pull_request:
    branches: ~
    paths:
    - '.github/workflows/testing-native-python.yml'
    - 'testing/native/python**'
    - '/requirements.txt'
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/testing-native-python.yml'
    - 'testing/native/python**'
    - '/requirements.txt'

  # Allow job to be triggered manually.
  workflow_dispatch:

  # Run job each night after CrateDB nightly has been published.
  schedule:
    - cron: '0 3 * * *'

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    name: "
    Python: ${{ matrix.python-version }}
    OS: ${{ matrix.os }}
    CrateDB: ${{ matrix.cratedb-version }}
    "
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          'ubuntu-latest',
          'macos-13',
          'windows-latest',
        ]
        python-version: [ '3.8', '3.12' ]
        cratedb-version: [ 'nightly' ]

    env:
      PIP_PRE: true

    steps:

      - name: Acquire sources
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: 'pip'
          cache-dependency-path: |
            requirements.txt
            testing/native/python-pytest/requirements.txt
            testing/native/python-unittest/requirements.txt

      - name: Install utilities
        run: |
          pip install -r requirements.txt

      - name: Validate testing/native/python-{pytest,unittest}
        run: |
          ngr test --accept-no-venv testing/native/python-pytest
          ngr test --accept-no-venv testing/native/python-unittest
